meta(charset="utf-8")
link(rel="import", href="composer-list.html")
link(rel="import", href="composer-pages.html")

polymer-element(name="composer-editor", attributes="items selectedIndex")
  template
    style.
      :host { display: block; }
      ::content composer-item { display: none; }

    content(select="composer-item")

    div(horizontal, layout, fit)
      div(flex, three, relative)
        composer-pages#pages(items="{{items}}", selectedIndex="{{selectedIndex}}")

      div(flex, one)
        composer-list#list(items="{{items}}", selectedIndex="{{selectedIndex}}")

  script.
    Polymer({
      items: [],
      selectedItem: null,
      selectedIndex: 0,

      domReady: function() {
        this.items = [].slice.call(this.children);
        //var content = this.shadowRoot.querySelector("content");
        //this.items = content.getDistributedNodes();
      },

      selectedItemChanged: function() {
        this.selectedIndex = this.items.indexOf(this.selectedItem);
      }
    });
