meta(charset="utf-8")
link(rel="import", href="composer-list.html")
link(rel="import", href="composer-pages.html")

polymer-element(name="composer-editor", attributes="items selectedIndex")
  template
    style.
      :host { display: block; }
      ::content composer-item { display: none; }

    content(select="composer-item")

    div(horizontal, layout, fit)
      div(flex, one)
        composer-list#list(selectedIndex="{{selectedIndex}}")

      div(flex, two, relative)
        composer-pages#pages(selectedIndex="{{selectedIndex}}")

  script.
    Polymer({
      items: [],
      selectedItem: null,
      selectedIndex: -1,

      domReady: function() {
        this.items = [].slice.call(this.children);
        //var content = this.shadowRoot.querySelector("content");
        //this.items = content.getDistributedNodes();
      },

      itemsChanged: function() {
        this.$.list.items = this.items;
        this.$.pages.items = this.items;
      },

      selectedItemChanged: function() {
        this.selectedIndex = this.items.indexOf(this.selectedItem);
      }
    });
