meta(charset="utf-8")
link(rel="import", href="../../bower_components/ace-element/ace-element.html")
link(rel="import", href="../../bower_components/core-pages/core-pages.html")

polymer-element(name="composer-pages", attributes="items selectedIndex")
  template
    style.
      :host { display: block; }
      ::content composer-item { display: none; }

    content(select="composer-item")

    core-pages(selected="{{selectedIndex}}", fit)
      template(repeat="{{item, index in items}}")
        ace-element(data-index="{{index}}", on-editor-input="{{onEditorInput}}",
        theme="github", mode="plain text", fontSize="20px").
          {{item.content}}

  script.
    Polymer({
      items: [],
      selectedIndex: 0,
      selectedItem: null,

      ready: function() {
        if (this.items.length === 0) {
          this.items = [].slice.call(this.children);
        }
      },

      selectedItemChanged: function() {
        this.selectedIndex = this.items.indexOf(this.selectedItem);
      },

      onEditorInput: function(event) {
        var index = event.target.getAttribute("data-index");
        var value = event.detail.value;
        var item = this.items[index];
        if (item.content !== value) {
          item.content = value;
        }
      }
    });
