html
  head
    meta(charset="utf-8")
    title Demo: Composer

    script(src="../bower_components/platform/platform.js")
    link(rel="import", href="../lib/base-imports.html")

    link(rel="import", href="../bower_components/ace-element/ace-element.html")
    link(rel="import", href="../lib/composer/composer-editor.html")
    link(rel="import", href="../lib/composer/composer-item.html")

    style.
      /* * { margin: 0; padding: 0; } */
      body { font-family: "Roboto", sans-serif; }
      section { margin: 20px; padding: 20px; border: 1px solid #ccc; }

  body
    section(relative, style="height: 333px;")
      composer-editor
        composer-item(name="foo.html").
          <h1>title</h1>
          <p>content</p>

        composer-item(name="bar.js").
          console.log("hello");

        composer-item(name="baz.py").
          def add(a, b):
              return a + b

          if __name__ == "__main__":
              print(add(2, 3))

    section(relative, style="height: 333px;")
      ace-element(theme="github", mode="python", fontSize="20px").
        def add(a, b):
          return a + b

        if __name__ == "__main__":
          print(add(2, 3))
