html
  head
    meta(charset="utf-8")
    title tingler-dom

    script(src="../bower_components/jquery/dist/jquery.min.js")
    script(src="../bower_components/lodash/dist/lodash.min.js")
    link(rel="stylesheet", href="../bower_components/roboto-fontface/roboto-fontface.css")

    link(rel="stylesheet", href="tingler.css")
    script(src="tingler.js")

    link(rel="stylesheet", href="../bower_components/katex/katex.min.css")
    script(src="../bower_components/katex/katex.min.js")

    script(src="../bower_components/d3/d3.min.js")
    script(src="../bower_components/dagre-d3/js/dagre-d3.min.js")

    link(rel="stylesheet", href="../bower_components/highlightjs/styles/default.css")
    script(src="../bower_components/highlightjs/highlight.pack.js")

    link(rel="stylesheet", href="../bower_components/leaflet/dist/leaflet.css")
    script(src="../bower_components/leaflet/dist/leaflet.js")

  body
    div.container
      style.
        h2 small { font-weight: 300; }

      h2 tingler-dom-annotations <small>(todo: add dynamic image, add pdf document)</small>

      section.example#text-comments
        div.tingler.controls.shadow-z1.top
          a.edit.button edit
          a.annotate.button annotate
          div.annotations
        div.tingler.target.shadow-z1.top
          div.text
            p.
              Lorem ipsum dolor sit amet, <u>consectetur adipisicing elit, sed do eiusmod tempor
              incididunt ut labore</u> et dolore magna aliqua.
            p.
              Ut enim ad minim veniam, quis nostrud <strong>exercitation</strong> ullamco laboris
              nisi ut aliquip ex ea commodo consequat.

      section.example#math-formula
        div.tingler.controls.shadow-z1.top
          a.edit.button edit
          a.annotate.button annotate
          div.annotations
        div.tingler.target.shadow-z1.top
          div.formula.
            f(x) = ax + b

      section.example#graph-network
        div.tingler.controls.shadow-z1.top
          a.edit.button edit
          a.annotate.button annotate
          div.annotations
        div.tingler.target.shadow-z1.top
          svg.graph
            g(transform="translate(10,10)")

      section.example#source-code
        div.tingler.controls.shadow-z1.top
          a.edit.button edit
          a.annotate.button annotate
          div.annotations
        div.tingler.target.shadow-z1.top
          pre: code.code.language-python.
            def add(a, b):
                return a + b

            if __name__ == "__main__":
                print(add(2, 3))

      section.example#world-map
        div.tingler.controls.shadow-z1.top
          a.edit.button edit
          a.annotate.button annotate
          div.annotations
        div.tingler.target.shadow-z1.top
          div.map
