html
  head
    meta(charset="utf-8")
    title PasteBread.Referencer

    script(src="../bower_components/jquery/dist/jquery.min.js")
    script(src="../bower_components/lodash/dist/lodash.min.js")
    link(rel="stylesheet", href="../bower_components/roboto-fontface/roboto-fontface.css")

    link(rel="stylesheet", href="demo.css")
    link(rel="stylesheet", href="tingler.css")
    script(src="demo.js")
    script(src="tingler.js")
    script(src="tingler/boxModelUtils.js")

    script(src="../bower_components/marked/lib/marked.js")

    link(rel="stylesheet", href="../bower_components/katex/katex.min.css")
    script(src="../bower_components/katex/katex.min.js")

    script(src="../bower_components/d3/d3.min.js")
    script(src="../bower_components/dagre-d3/js/dagre-d3.min.js")
    script(src="../bower_components/graphlib/graphlib.min.js")
    script(src="../bower_components/graphlib/graphlib-dot.min.js")

    link(rel="stylesheet", href="../bower_components/highlightjs/styles/default.css")
    script(src="../bower_components/highlightjs/highlight.pack.js")

    link(rel="stylesheet", href="../bower_components/leaflet/dist/leaflet.css")
    script(src="../bower_components/leaflet/dist/leaflet.js")

  body
    div.container
      h2 PasteBread.Referencer <small>(demo)</small>

      //-------------------------------------------------------------------------------------------
      // MARKDOWN TEXT.
      //-------------------------------------------------------------------------------------------

      section.tingler.example#markdown-text.shadow-z1.top
        div.tingler-target.shadow-z1.top
          div.markdown

        div.tingler-controls.shadow-z1.top(style="position: relative")
          div.resizable
          div.title markdown
          a.edit.button src <small>(1)</small>
          a.refs.button refs <small>(0)</small>

        div.tingler-editor.hidden.shadow-z1.top
          div.resizable
          pre: code.
            ## First Section

            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.

            Ut enim ad minim veniam, quis nostrud <u>exercitation ullamco laboris
            nisi ut aliquip ex ea commodo</u> consequat.

            ## Second Section

            Ut enim ad minim veniam, quis nostrud [exercitation](#) ullamco
            laboris nisi ut aliquip ex ea commodo consequat.

            ---

            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.

        div.tingler-refs.hidden
          div.title refs:
          a.ref.button <...>
          div.refs

      //-------------------------------------------------------------------------------------------
      // LATEX FORMULA.
      //-------------------------------------------------------------------------------------------

      section.tingler.example#latex-formula.shadow-z1.top
        div.tingler-target.shadow-z1.top
          div.formula

        div.tingler-controls.shadow-z1.top
          div.resizable
          div.title latex
          a.edit.button src <small>(1)</small>
          a.refs.button refs <small>(0)</small>

        div.tingler-editor.hidden.shadow-z1.top
          div.resizable
          pre: code.
            f(x) = ax + b

        div.tingler-refs.hidden
          div.title refs:
          a.ref.button <...>
          div.refs

      //-------------------------------------------------------------------------------------------
      // SOURCE CODE.
      //-------------------------------------------------------------------------------------------

      section.tingler.example#source-code.shadow-z1.top
        div.resizable

        div.tingler-target.shadow-z1.top
          pre.source: code.code.language-python

        div.tingler-controls.shadow-z1.top
          div.title python
          a.edit.button src <small>(1)</small>
          a.refs.button refs <small>(0)</small>

        div.tingler-editor.hidden.shadow-z1.top
          pre: code.
            def add(a, b):
                return a + b

            if __name__ == "__main__":
                print(add(2, 3))

        div.tingler-refs.hidden
          div.title refs:
          a.ref.button <...>
          div.refs

      //-------------------------------------------------------------------------------------------
      // GRAPHVIZ GRAPH.
      //-------------------------------------------------------------------------------------------

      section.tingler.example#graphviz-graph.shadow-z1.top
        div.resizable

        div.tingler-target.shadow-z1.top
          div.inner: svg.graph
            g(transform="translate(10,10)")

        div.tingler-controls.shadow-z1.top
          div.title graphviz
          a.edit.button src <small>(1)</small>
          a.refs.button refs <small>(0)</small>

        div.tingler-editor.hidden.shadow-z1.top
          pre: code.
            digraph {
              kspacey   [label="Kevin Spacey"];
              swilliams [label="Saul Williams"];
              bpitt     [label="Brad Pitt"];
              hford     [label="Harrison Ford"];
              lwilson   [label="Luke Wilson"];
              kbacon    [label="Kevin Bacon"];

              kspacey   -> swilliams [label="K-PAX"];
              swilliams -> kbacon    [label="These Vagabond Shoes"];
              bpitt     -> kbacon    [label="Sleepers"];
              hford     -> lwilson   [label="Anchorman 2"];
              lwilson   -> kbacon    [label="Telling Lies in America"];
            }

        div.tingler-refs.hidden
          div.title refs:
          a.ref.button <...>
          div.refs

      //-------------------------------------------------------------------------------------------
      // GEOJSON MAP.
      //-------------------------------------------------------------------------------------------

      section.tingler.example#geojson-map.shadow-z1.top
        div.resizable

        div.tingler-target.shadow-z1.top
          div.map

        div.tingler-controls.shadow-z1.top
          div.title geojson
          a.edit.button src <small>(1)</small>
          a.refs.button refs <small>(0)</small>

        div.tingler-editor.hidden.shadow-z1.top
          pre: code.
            data/ne_110m_admin_0_countries.geo.json

        div.tingler-refs.hidden
          div.title refs:
          a.ref.button <...>
          div.refs
