html
  head
    meta(charset="utf-8")
    title tingler (dom-refs)

    script(src="../bower_components/jquery/dist/jquery.min.js")
    script(src="../bower_components/lodash/dist/lodash.min.js")
    link(rel="stylesheet", href="../bower_components/roboto-fontface/roboto-fontface.css")

    link(rel="stylesheet", href="tingler.css")
    script(src="tingler.js")
    script(src="tingler/boxModelUtils.js")

    script(src="../bower_components/marked/lib/marked.js")

    link(rel="stylesheet", href="../bower_components/katex/katex.min.css")
    script(src="../bower_components/katex/katex.min.js")

    script(src="../bower_components/d3/d3.min.js")
    script(src="../bower_components/dagre-d3/js/dagre-d3.min.js")

    link(rel="stylesheet", href="../bower_components/highlightjs/styles/default.css")
    script(src="../bower_components/highlightjs/highlight.pack.js")

    link(rel="stylesheet", href="../bower_components/leaflet/dist/leaflet.css")
    script(src="../bower_components/leaflet/dist/leaflet.js")

  body
    div.container
      style.
        h2 small { font-weight: 300; }

      h2 tingler <small>(dom-refs)</small>

      section.example#text-comments(style="position: relative")
        div.tingler.resizable(style="z-index: 99")
        div.tingler.controls.shadow-z1.top
          div.title markdown
          a.edit.button edit
          a.refs.button refs (0)
          a.annotate.button <...>
          div.annotations
        div.tingler.target.shadow-z1.top
          div.markdown.
            Lorem ipsum dolor sit amet, **consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore** et dolore magna aliqua.

            Ut enim ad minim veniam, quis nostrud <u>exercitation</u> ullamco laboris
            nisi ut aliquip ex ea commodo consequat.

      section.example#math-formula(style="position: relative")
        div.tingler.resizable(style="z-index: 99")
        div.tingler.controls.shadow-z1.top
          div.title latex
          a.edit.button edit
          a.refs.button refs (0)
          a.annotate.button <...>
          div.annotations
        div.tingler.target.shadow-z1.top
          div.formula.
            f(x) = ax + b

      section.example#source-code(style="position: relative")
        div.tingler.resizable(style="z-index: 99")
        div.tingler.controls.shadow-z1.top
          div.title python
          a.edit.button edit
          a.refs.button refs (0)
          a.annotate.button <...>
          div.annotations
        div.tingler.target.shadow-z1.top
          pre: code.code.language-python.
            def add(a, b):
                return a + b

            if __name__ == "__main__":
                print(add(2, 3))

      section.example#graph-network(style="position: relative")
        div.tingler.resizable(style="z-index: 99")
        div.tingler.controls.shadow-z1.top
          div.title graphviz
          a.edit.button edit
          a.refs.button refs (0)
          a.annotate.button <...>
          div.annotations
        div.tingler.target.shadow-z1.top
          svg.graph
            g(transform="translate(10,10)")

      section.example#world-map(style="position: relative")
        div.tingler.resizable(style="z-index: 99")
        div.tingler.controls.shadow-z1.top
          div.title geojson
          a.edit.button edit
          a.refs.button refs (0)
          a.annotate.button <...>
          div.annotations
        div.tingler.target.shadow-z1.top
          div.map

      section.example
        div.tingler.controls.shadow-z1.top
          div.title image (responsive)

      section.example
        div.tingler.controls.shadow-z1.top
          div.title pdf (document)
