html
  head
    meta(charset="utf-8")
    title tingler (dom-refs)

    script(src="../bower_components/jquery/dist/jquery.min.js")
    script(src="../bower_components/lodash/dist/lodash.min.js")
    link(rel="stylesheet", href="../bower_components/roboto-fontface/roboto-fontface.css")

    link(rel="stylesheet", href="demo.css")
    link(rel="stylesheet", href="tingler.css")
    script(src="demo.js")
    script(src="tingler.js")
    script(src="tingler/boxModelUtils.js")

    script(src="../bower_components/marked/lib/marked.js")

    link(rel="stylesheet", href="../bower_components/katex/katex.min.css")
    script(src="../bower_components/katex/katex.min.js")

    script(src="../bower_components/d3/d3.min.js")
    script(src="../bower_components/dagre-d3/js/dagre-d3.min.js")
    script(src="../bower_components/graphlib/graphlib.min.js")
    script(src="../bower_components/graphlib/graphlib-dot.min.js")

    link(rel="stylesheet", href="../bower_components/highlightjs/styles/default.css")
    script(src="../bower_components/highlightjs/highlight.pack.js")

    link(rel="stylesheet", href="../bower_components/leaflet/dist/leaflet.css")
    script(src="../bower_components/leaflet/dist/leaflet.js")

  body
    div.container
      h2 tingler <small>(dom-refs)</small>

      //-------------------------------------------------------------------------------------------
      // MARKDOWN TEXT.
      //-------------------------------------------------------------------------------------------

      section.tingler#text-comments.shadow-z1.top
        div.resizable

        div.tingler-controls.shadow-z1.top
          div.title markdown
          a.edit.button src <small>(1)</small>
          a.refs.button refs <small>(0)</small>

        div.tingler-editor.hidden(style="position: relative").shadow-z1.top
          div.resizable
          pre: code.
            ## First Section

            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.

            Ut enim ad minim veniam, quis nostrud <u>exercitation ullamco laboris
            nisi ut aliquip ex ea commodo</u> consequat.

            ## Second Section

            Ut enim ad minim veniam, quis nostrud [exercitation](#) ullamco
            laboris nisi ut aliquip ex ea commodo consequat.

        div.tingler-refs.hidden.shadow-z1.top
          div.title refs:
          a.ref.button <...>
          div.refs

        div.tingler-target.shadow-z1.top
          div.markdown

      //-------------------------------------------------------------------------------------------
      // LATEX FORMULA.
      //-------------------------------------------------------------------------------------------

      section.tingler.example#math-formula.shadow-z1.top
        div.resizable

        div.tingler-controls.shadow-z1.top
          div.title latex
          a.edit.button src <small>(1)</small>
          a.refs.button refs <small>(0)</small>

        div.tingler-refs.hidden
          div.title refs:
          a.ref.button <...>
          div.refs

        div.tingler-target.shadow-z1.top
          div.formula.
            f(x) = ax + b

      //-------------------------------------------------------------------------------------------
      // SOURCE CODE.
      //-------------------------------------------------------------------------------------------

      section.tingler.example#source-code.shadow-z1.top
        div.resizable

        div.tingler-controls.shadow-z1.top
          div.title python
          a.edit.button src <small>(0)</small>
          a.refs.button refs <small>(0)</small>

        div.tingler-refs.hidden
          div.title refs:
          a.ref.button <...>
          div.refs

        div.tingler-target.shadow-z1.top
          pre: code.code.language-python.
            def add(a, b):
                return a + b

            if __name__ == "__main__":
                print(add(2, 3))

      //-------------------------------------------------------------------------------------------
      // GRAPHVIZ GRAPH.
      //-------------------------------------------------------------------------------------------

      section.tingler.example#graph-network.shadow-z1.top
        div.resizable

        div.tingler-controls.shadow-z1.top
          div.title graphviz
          a.edit.button src <small>(0)</small>
          a.refs.button refs <small>(0)</small>

        div.tingler-refs.hidden
          div.title refs:
          a.ref.button <...>
          div.refs

        div.tingler-target.shadow-z1.top
          pre.model.hidden.
            digraph {
              kspacey   [label="Kevin Spacey"];
              swilliams [label="Saul Williams"];
              bpitt     [label="Brad Pitt"];
              hford     [label="Harrison Ford"];
              lwilson   [label="Luke Wilson"];
              kbacon    [label="Kevin Bacon"];

              kspacey   -> swilliams [label="K-PAX"];
              swilliams -> kbacon    [label="These Vagabond Shoes"];
              bpitt     -> kbacon    [label="Sleepers"];
              hford     -> lwilson   [label="Anchorman 2"];
              lwilson   -> kbacon    [label="Telling Lies in America"];
            }
          svg.graph
            g(transform="translate(10,10)")

      //-------------------------------------------------------------------------------------------
      // GEOJSON MAP.
      //-------------------------------------------------------------------------------------------

      section.tingler.example#world-map.shadow-z1.top
        div.resizable

        div.tingler-controls.shadow-z1.top
          div.title geojson
          a.edit.button src <small>(0)</small>
          a.refs.button refs <small>(0)</small>

        div.tingler-refs.hidden
          div.title refs:
          a.ref.button <...>
          div.refs

        div.tingler-target.shadow-z1.top
          pre.model.hidden.
            data/ne_110m_admin_0_countries.geo.json
          div.map

      //-------------------------------------------------------------------------------------------
      // PDF DOCUMENT.
      //-------------------------------------------------------------------------------------------

      // section.tingler.example#pdf-document.shadow-z1.top
      //   div.resizable

      //   div.tingler-controls.shadow-z1.top
      //     div.title pdf
      //     a.edit.button src <small>(0)</small>
      //     a.refs.button refs <small>(0)</small>

      //   div.tingler-refs.hidden
      //     div.title refs:
      //     a.ref.button <...>
      //     div.refs

      //   div.tingler-target.shadow-z1.top
      //     div.pdfPage(style="overflow-y: auto; height: 333px;")
      //       canvas.view(style="width: 100%")
      //       div.textLayer

      //-------------------------------------------------------------------------------------------
      // RESPONSIVE IMAGE.
      //-------------------------------------------------------------------------------------------

      //section.tingler.example#responsive-image.shadow-z1.top
      //  div.tingler-controls.shadow-z1.top
      //    div.title image
