.tingler {
  position: relative;
}
.tingler .resizable {
  z-index: 99;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0;
  width: 0;
  cursor: nwse-resize !important;
  border-right: 10px solid #ccc;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #ccc #ccc transparent;
  /*box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);*/
}
.tingler .tingler-controls {
  padding: 0 10px;
  background: #ddd;
}
.tingler .tingler-controls .title {
  font-weight: 700;
  padding: 6px 9px;
  display: inline-block;
}
.tingler .tingler-controls .button {
  padding: 6px 9px;
  cursor: pointer;
  display: inline-block;
}
.tingler .tingler-controls .button.active {
  position: relative;
  color: #ddd !important;
  background: #555;
}
.tingler .tingler-controls .button.active:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;
  border-top: 8px solid #555;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  margin-left: -8px;
}
.tingler .tingler-editor {
  background: #f8f5ec;
  border-bottom: 1px solid #ddd;
  height: 222px;
  overflow: hidden;
}
.tingler .tingler-refs {
  padding: 0 10px;
  background: #f8f5ec;
  border-bottom: 1px solid #ddd;
}
.tingler .tingler-refs .title {
  font-weight: 700;
  padding: 6px 9px;
  display: inline-block;
}
.tingler .tingler-refs .button {
  padding: 6px 9px;
  cursor: pointer;
  display: inline-block;
}
.tingler .tingler-refs .button.active {
  position: relative;
  color: #ddd !important;
  background: #555;
}
.tingler .tingler-refs .button.active:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;
  border-top: 8px solid #555;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  margin-left: -8px;
}
.tingler .tingler-refs .button.ref {
  color: rgba(0, 0, 255, 0.9);
}
.tingler .tingler-refs .refs {
  display: inline-block;
}
.tingler .tingler-refs .refs .ref {
  color: rgba(0, 0, 255, 0.9);
  padding: 6px 9px;
  cursor: pointer;
  display: inline-block;
}
.tingler .tingler-target {
  background: white;
  padding: 10px;
}
.tingler .tingler-overlay .highlight {
  position: fixed;
  border: 1px solid rgba(0, 0, 255, 0.3);
  margin: -1px;
  background: rgba(0, 0, 255, 0.1);
  z-index: 999;
  pointer-events: none;
}
.tingler .tingler-overlay .path {
  position: fixed;
  color: #ddd;
  background: #555;
  /*border: 1px solid #333;*/
  border-radius: 5px;
  padding: 4px 8px;
  z-index: 999;
  pointer-events: none;
}
.tingler .tingler-overlay .path:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1000;
  border-top: 8px solid #555;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  margin-left: -8px;
}
.tingler .tingler-overlay .element .tag {
  color: magenta;
}
.tingler .tingler-overlay .element .id {
  color: lime;
}
.tingler .tingler-overlay .element .classes {
  color: cyan;
}
